{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Search and Apply for Institutes" %}{% endblock %}
{% block extra_js %}
<script type="text/javascript">
  	$(document).ready(function() {
        $('#searchform').submit(function() {// catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(response) { // on success..
					$('#search-results').html(response);                	
                }
            });
            return false;
        });
    });
  	function js_show_streams(inst_pk){
  		$.get("{% url 'edu_get_streams_for_institute' %}", {inst_pk: inst_pk}, function(response){
  			$('#modal-show-streams-body').html(response);
  			initialize_checkbox_and_radio();
        	$('#modal-show-streams').modal();
  		})
  	}
  	function js_apply_streams(div_id){
		var selected_streams = [];
	    // get all checked items
	    var checked = $("#" + div_id).find('input:checked');
	    // for each of them
	    $.each(checked, function() {
	    	selected_streams.push($(this).attr('name'));
	    });
	    var inst_pk = $('#stream-institute-id').attr('value');
		$.ajax({ // create an AJAX call...
            data: {inst_pk : inst_pk, selected_streams : selected_streams.join(",")}, // get the form data
            type: 'POST', // GET or POST
            url: "{% url 'edu_apply_for_institute' %}", // the file to call
            success: function(response) { 
            	alert(response);// on success..
            }
        });
  	}
  /*]]>*/
</script>
{% endblock %}

{% block content_title %}<h2 class="content-title">Universities &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block content %}
  <ul id="profile-nav">
      <!-- <li><a href="#">{% trans "View profile" %}</a></li>  -->
      <li class="selected"><a href="{% url 'edu_index' %}">{% trans "Search and Apply" %}</a></li>
      <li><a href="{% url 'edu_my_applications' %}">{% trans "My Applications" %}</a></li>
      <!-- <li><a href="#">{% trans "Change email" %}</a></li> -->
  </ul>
  <form action="{% url 'edu_get_search_results' %}" method="post" id="searchform">
    <div id="ajaxwrapper">
    {% csrf_token %}
    <fieldset>
    	<legend>{% trans "Search and Apply" %}</legend>
    	{{ form.non_field_errors }}
    	{{ form.as_p }}
    </fieldset>
	<input type='submit' class='button' value='Search' id='searchbutton'>
    </div>
 </form>
 <div id="search-results"></div>
{% endblock %}