{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Search and Apply for Institutes" %}{% endblock %}
{% block extra_js %}
<script type="text/javascript">
  	$(document).ready(function() {
        $('#searchform').submit(function() {// catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
				beforeSend:function(){
					resetMessageSpan();
					$.blockUI();
				},
				complete: function() {
					$.unblockUI();
				},
                success: function(response) { // on success..
					$('#search-results').html(response);                	
                }
            });
            return false;
        });
    });
  	function js_show_streams(inst_pk){
  		$.ajax({
				url: "{% url 'edu_get_streams_for_institute' %}",
				data: {inst_pk: inst_pk},
				beforeSend:function(){
					resetMessageSpan();
					$.blockUI();
				},
				complete: function() {
					$.unblockUI();
				},
				success: function(response){
											$('#modal-show-streams-body').html(response);
											initialize_checkbox_and_radio();
											$('#modal-show-streams').modal();
										},
				error: function(jqXHR, textStatus, errorThrown){
											$('#modal-show-streams-body').html(response + '+ ' + textStatus + '+ ' + errorThrown);
											initialize_checkbox_and_radio();
											$('#modal-show-streams').modal();
								}
		});
  	}
	
	/*function js_show_streams(inst_pk){
  		$.get("{% url 'edu_get_streams_for_institute' %}", {inst_pk: inst_pk}, function(response){
  			$('#modal-show-streams-body').html(response);
  			initialize_checkbox_and_radio();
        	$('#modal-show-streams').modal();
  		})
  	}*/
	
  	function js_apply_streams(div_id){
		var selected_streams = [];
	    // get all checked items
	    var checked = $("#" + div_id).find('input:checked');
	    // for each of them
	    $.each(checked, function() {
	    	selected_streams.push($(this).attr('name'));
	    });
	    var inst_pk = $('#stream-institute-id').attr('value');
		
		$('#modal-show-streams').modal('toggle');
		$.ajax({ // create an AJAX call...
            data: {inst_pk : inst_pk, selected_streams : selected_streams.join(",")}, // get the form data
            type: 'POST', // GET or POST
            url: "{% url 'edu_apply_for_institute' %}", // the file to call
			beforeSend:function(){
					$.blockUI();
				},
				complete: function() {
					$.unblockUI();
				},
            success: function(response) { 
            	//alert(response);// on success..
				var obj = $.parseJSON(response);
				
				if(obj['status'] == 'success')
				{
					setMessageSpan('Your application for the selected streams has been successfully registered. Please visit My Applications page to see all the applications', 'btn btn-large btn-block btn-primary');
				}else{
					setMessageSpan('We encountered error while registering your application. Please retry after some time. You may visit My Applications page to see all the applications', 'btn btn-large btn-block btn-danger');
				}
            }
        });
  	}
	
function resetMessageSpan()
	{
		$('#showMessage').html('');
		$('#showMessage').removeClass();
	}
	
	function setMessageSpan(message, class_list)
	{
		$('#showMessage').html(message);
		$('#showMessage').addClass(class_list);
	}
	
  /*]]>*/
</script>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div id="showMessage" ></div>
  <form action="{% url 'edu_get_search_results' %}" method="post" id="searchform">
    <div id="ajaxwrapper">
    {% csrf_token %}
    <fieldset>
    	<legend>{% trans "Search and Apply" %}</legend>
    	{{ form.non_field_errors }}
    	{{ form.as_p }}
    </fieldset>
	<div class="span3">
	  <input type="submit" class="btn btn-block btn-success" value="{% trans "Search" %}"  id='searchbutton'>
	</div>
    </div>
 </form>
 <div id="search-results"></div>
{% endblock %}