{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "My Applications" %}{% endblock %}
{% block extra_js %}
<script type="text/javascript">
  /*<![CDATA[*/
  	function js_delete_application(appln_id){
		$.ajax({ // create an AJAX call...
            data: {appln_id : appln_id}, // get the form data
            type: 'POST', // GET or POST
            url: "{% url 'edu_delete_application' %}", // the file to call
            success: function(response) { 
            	alert(response);// on success..
            	btnid = 'deleteapplication-' + appln_id;
            	delete_row(btnid);
            }
        });
  	}
  	function delete_row(btnid){    
        if (btnid != "") {         
             $('#'+btnid).closest("tr").remove();
          } 
  	};
  /*]]>*/
</script>
{% endblock %}

{% block content_title %}<h2 class="content-title">Applications &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block content %}
  <ul id="profile-nav">
      <!-- <li><a href="#">{% trans "View profile" %}</a></li>  -->
      <li><a href="{% url 'edu_index' %}">{% trans "Search and Apply" %}</a></li>
      <li class="selected"><a href="{% url 'edu_my_applications' %}">{% trans "My Applications" %}</a></li>
      <!-- <li><a href="#">{% trans "Change email" %}</a></li> -->
  </ul>
  <table id='my-applications' class="table table-striped">
  	<thead>
  		<th>Application ID</th>
  		<th>Institute</th>
  		<th>Stream</th>
  		<th>Priority</th>
  		<th>Created on</th>
  		<th>Actions</th>
  	</thead>
  	<tbody>
  	{% for application in applications %}
  		<tr>
  			<td>{{ application.appln_id }}</td>
  			<td>{{ application.institute.name }}</td>
  			<td>{{ application.stream.name }}</td>
  			<td>{{ application.get_priority_number_display }}</td>
  			<td>{{ application.created_date }}</td>
  			<td><input type='button' class='btn btn-block btn-danger' value='Delete' id='deleteapplication-{{ application.appln_id }}'
  			 onclick="js_delete_application('{{ application.appln_id }}')"></td>
  		</tr>
  	{% endfor %}
  	</tbody>
  </table>
{% endblock %}