{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "My Applications" %}{% endblock %}
{% block extra_js %}


<script type="text/javascript">
  /*<![CDATA[*/
	/*This method makes the table rows dragable enabling user to reorder the table rows*/
	$(document).ready(function() {
									$("#my-applications").tableDnD({
																	onDrop: function(aplTable, draggedRow) {
																				/*Get the row collection*/
																				var aplTableRowCollection = aplTable.tBodies[0].rows;
																				
																				/*Loop through the row collection to set the new priority number for each row*/
																				for (var rowCounter=0; rowCounter < aplTableRowCollection.length; rowCounter++) {
																					
																					$(aplTableRowCollection[rowCounter]).find('#priorityIndex').html(rowCounter + 1);
																				}
																				
																	}	
																	});
								});
	
  	function js_delete_application(appln_id){
		$.ajax({ // create an AJAX call...
            data: {appln_id : appln_id}, // get the form data
            type: 'POST', // GET or POST
            url: "{% url 'edu_delete_application' %}", // the file to call
			beforeSend:function(){
					$.blockUI();
				},
				complete: function() {
					$.unblockUI();
				},
            success: function(response) { 
            	//alert(response);// on success..
								
            	btnid = 'deleteapplication-' + appln_id;
            	delete_row(btnid);
				
				var obj = $.parseJSON(response);
				//alert(obj['status']);
				if(obj['status'] == 'success')
				{
					setMessageSpan('Your application for the selected streams has been successfully deleted.', 'btn btn-large btn-block btn-primary');
				}else{
					setMessageSpan('We encountered error while deleting your application. Please retry after some time.', 'btn btn-large btn-block btn-danger');
				}
            }
        });
  	}
  	function delete_row(btnid){    
        if (btnid != "") {         
             $('#'+btnid).closest("tr").remove();
          } 
  	};
	
	function resetMessageSpan()
	{

		$('#showMessage').html('');
		$('#showMessage').removeClass();
	}
	
	function setMessageSpan(message, class_list)
	{
		$('#showMessage').html(message);
		$('#showMessage').addClass(class_list);
	}
  /*]]>*/
</script>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div id="showMessage" ></div>
  <table id="my-applications" class="table table-striped">
  	<thead>
  		<th>Application ID</th>
  		<th>Institute</th>
  		<th>Stream</th>
  		<th>Priority</th>
  		<th>Created on</th>
  		<th>Actions</th>
  	</thead>
  	<tbody>
  	{% for application in applications %}
  		<tr id="{{ forloop.counter }}">
  			<td id="applicationID">{{ application.appln_id }}</td>
  			<td>{{ application.institute.name }}</td>
  			<td>{{ application.stream.name }}</td>
  			<td id="priorityIndex">{{ application.get_priority_number_display }}</td>
  			<td>{{ application.created_date }}</td>
  			<td>
			<div class="span3">
			<input type='button' class='btn btn-block btn-danger' value='Delete' id='deleteapplication-{{ application.appln_id }}'
  			 onclick="js_delete_application('{{ application.appln_id }}')"></div></td>
  		</tr>
  	{% endfor %}
  	</tbody>
  </table>
{% endblock %}