{% if stream or streams.count == 0 %}
	<p>No Streams found</p>
{% else %}
	<div id="div-streams-list" class="span3">
	{% for stream in streams %}
		<div>
			<label class="checkbox" for="{{ stream.stream_code }}">
				<input type="checkbox" name="{{ stream.stream_code }}" id="{{ stream.stream_code }}"
				{% if stream.stream_code in applied_streams %} checked="checked" disabled="disabled" {% endif %}
				>{{ stream.name }}
			</label>
		</div>
	{% endfor %}
	<input type="hidden" id="stream-institute-id" value="{{ institute.id }}">
	</div>
{% endif %}