{% load i18n static %}
{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{% block title %}Eucleia Education Portal{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Education portal for education counselling and admissions" />
    <meta name="keywords" content="education, eucleia, counselling, education, india, admission, colleges, institutes, courses, universities" />
    <meta name="author" content="Eucleia Consultancy LLP" />

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/master.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/flat-ui.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/master.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-datepicker.min.css' %}" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
		  /*<![CDATA[*/
		  
		 $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
		 
		 $(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cook$('#appmessages').htmlie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
		    function safeMethod(method) {
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
		});
	</script>
    
    
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    {% block extra_js %}{% endblock %}
  </head>
  <body>
    <div id="top">
	   
      {% if messages %}
      <!--<ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>-->
      {% endif %}

      {% block nav %}
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse collapse">
					<span> Eucleia | Career Path</span>
						<ul class="nav" style="float:right;">
							{% if user.is_authenticated %}
							<li><a href="{% url 'promo' %}" class="primay_menu_item"><div class="manageapplication_icon" style="padding:0;"><span>Manage Applications</span></div></a>
								<ul>
									<li><a href="{% url 'edu_index' %}">{% trans "Search and Apply" %}</a></li>
									<li><a href="{% url 'edu_my_applications'%}">{% trans 'My Applications' %}</a></li>
								</ul>
							</li>
							<li><a href="{% url 'userena_profile_detail' user.username %}" class="primay_menu_item"><div class="useraccount_icon" style="padding:0;"><span>{{ user.username }}</span></div></a>
								<ul>
									<li><a href="{% url 'userena_profile_detail' user.username %}">{% trans 'View profile' %}</a></li>
									<li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
									<li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
									<li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
									<li><a href="{% url 'userena_signout' %}">{% trans 'Sign Out' %}</a></li>
								</ul>
							</li>
							{% else %}
							 <li><a href="{% url 'userena_signin' %}" class="primay_menu_item"><div class="login_icon" style="padding:0;"><span>{% trans 'Sign In' %}</span></div></a></li>
							  <li><a href="{% url 'userena_signup' %}" class="primay_menu_item"><div class="register_icon" style="padding:0;" ><span>{% trans 'Register' %}</span></div></a></li>
							  <li><a href="{% url 'promo' %}" class="primay_menu_item"><div class="home_icon" style="padding:0;"><span>{% trans 'Home' %}</span></div></a></li>
							  {% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
          <!--<a href="{% url 'promo' %}"><div class="home_icon"><span>{% trans 'Home' %}</span></div></a></li>
          {% if user.is_authenticated %}
          <a href="{% url 'userena_profile_list' %}"><span>{% trans 'All profiles' %}</span></a>
          <a href="{% url 'userena_umessages_list' %}"><span>{% trans 'Messages' %}</span></a>-->
          <!--<a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'Account' %} ({{ user.username }})</span></a>
		  
          <a href="{% url 'userena_signout' %}"><div class="logout_icon"><span>{% trans 'Logout' %}</span></div></a>
          {% else %}
          <a href="{% url 'userena_signin' %}"><div class="login_icon"><span>{% trans 'Login' %}</span></div></a>
          <a href="{% url 'userena_signup' %}"><div class="register_icon"><span>{% trans 'Register' %}</span></div></a>
          {% endif %}-->
        
        {% endblock %}
	  
      <!--<div id="lang_form">
        <form action="/i18n/setlang/" method="post" id="locale_switcher">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.path }}" />
          <label>{% trans 'Choose language' %}:</label>
          <select name="language" onchange="$('#locale_switcher').submit()">
            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if request.LANGUAGE_CODE == lang.0 %}selected{% endif %}>{{ lang.1 }}</option>
            {% endfor %}
          </select>
          <noscript>
            <input type="submit" value="{% trans "Change language" %}" />
          </noscript>
        </form>
      </div>-->
    </div>
    <div id="container">
		<!--<div class="row demo-row">
			<div class="span3">
				<div id="header">
        		<h1><a href="{% url 'promo' %}">eucleia-education</a></h1>
				</div>
			</div>
			
		</div>-->
      	{% block content_title %}{% endblock %}
      	<div id="content-container">
        {% block content %}{% endblock %}
      	</div><!-- /content-container-->
      	<div id="footer">{% trans 'All rights reserved by ' %} <a href="http://eucleiacorp.com">Eucleia Consultancy LLP</a></div>
    </div><!-- /container-->
   	<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.0.custom.min.js' %}"></script>
   	<script type="text/javascript" src="{% static 'js/jquery.dropkick-1.0.0.js' %}"></script>
   	<script type="text/javascript" src="{% static 'js/custom_checkbox_and_radio.js' %}"></script>
   	<script type="text/javascript" src="{% static 'js/custom_radio.js' %}"></script>
   	<script type="text/javascript" src="{% static 'js/jquery.tagsinput.js' %}"></script>
   	<script type="text/javascript" src="{% static 'js/bootstrap-tooltip.js' %}"></script>
   	<script type="text/javascript" src="{% static 'js/jquery.placeholder.js' %}"></script>
   	<script type="text/javascript" src="{% static 'js/application.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.blockUI.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.tablednd.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.printElement.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script type="text/javascript">
    $(function() {
        $( ".birthdatepicker" ).datepicker({
            dateFormat : 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            maxDate: '-1d'
        });
        $(".datepicker").datepicker();
    });
    </script>
    <!--[if lt IE 8]>
    	<script type="text/javascript" src="{% static "js/icon-font-ie7.js" %}"></script>
   		<script type="text/javascript" src="{% static "js/icon-font-ie7-24.js" %}"></script>
    <![endif]-->
   </body>
 </html>
