{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div id="intro">
  <h2 class="intro"><span>Eucleia Education</span><br/>Helping you fulfill your dreams</h2>

  <p class="intro">Eucleia Education aims to be one place for all your education queries. It provides you
  with all the information you need to make an informed decision about your career. That's not all. We have
  tie-ups with well-known universities to make your application process a breeze. No more going to each college
  and applying. We have simplified the process and cut down the stress. Now just click a button to apply to
  universities and institutes of your choice!</p>

  <p id="xtra-info">Got any questions or feedback? Email us at education [AT] eucleiacorp.com.</p>

</div><!-- /intro-->

<ul class="features">
  <li><h3>About Eucleia Education</h3>

  <p>Eucleia Education knows the problems and stress associated with education system in India. This is a foray
  into making things better!
  </p>

  </li>
  <li><h3>It's stress-free!</h3>

  <p>Apply to universities across the country by just clicking a single button. Process ultra-simplified!</p>

  <li>
  <h3>Tie-ups with well known universites</h3>

  <p> We have tied-up with universities and institutes across the country just for you!

  </li>
  <!-- <li><h3>100% test coverage</h3>

  <p>Account management is an important aspect of any website, therefore we have
  chosen for 100% test coverage for every bit of code. This reduces bugs and
  makes sure that we don't introduce any new ones when updating.

  </li> -->
  <!-- <li><h3>Messaging</h3>

  <p>Userena comes with an optional, chat-like, messaging system. This allows your
  users to communicate with each other through your site. It's use is intuitive
  and easy!</p>

  </li>
  <li><h3>Privacy</h3>

  <p>Permission for viewing other peoples profiles are managed by
  <a href="https://github.com/lukaszb/django-guardian">django-guardian</a>.
    This way we can let the user decide if they want to share their profile to
    everyone, registered users or nobody.
  </p>
  </li> -->
</ul>
<!-- <ul class="blocks">
  <li><h3>Browse source</h3>
  <a href="http://github.com/bread-and-pepper/django-userena" id="browse">Browse</a>
  </li>
  <li><h3>Download</h3>
  <a href="https://github.com/bread-and-pepper/django-userena/downloads" id="download">Download</a>
  </li>
  <li><h3>Read docs</h3>
  <a href="http://docs.django-userena.org/" id="docs">Documentation</a>
  </li>
  <li><h3>Try it out!</h3>
  <a href="{% url 'userena_signup' %}" id="demo">Try it out!</a>
  </li>
</ul> -->
{% endblock %}
